.home {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.home-title {
  margin-top: 2rem !important;
  margin-bottom: 1rem !important;
  margin-left: 1rem !important;
  font-size: 32px !important;
  font-weight: bold !important;
}

.event-card-container {
  background-color: var(--light-petrol);
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  padding-right: 3rem;
  padding-left: 3rem;
}
