.setting-container {
  background-color: var(--light-petrol);
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  padding-right: 3rem;
  padding-left: 3rem;
}

.name-label {
  padding: 10px;
}

Button.selected {
  background-color: #88bce7;
}
.lang-button {
  border-radius: 0.25em;
  border: solid;
}

.full-name {
  display: flex;
}
.email {
  display: flex;
}

.form-elements{
  margin:  0 3rem;
}

.title{
    padding-left: 25px;
    font-weight: bold;
  }
  
 