.event-tag-frame {
    width: 7.75rem;
    height: 1.75rem;
    border-radius: var(--border-radius-30);
    background-color: var(--pink);
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 1rem;
    border: 0;
}

.event-tag-frame-culture { background-color: var(--red-violet); color: white; }
.event-tag-frame-fine-dining { background-color: var(--amarillo-yellow); }
.event-tag-frame-for-kids { background-color: var(--green); }
.event-tag-frame-music { background-color: var(--pink); color: white; }
.event-tag-frame-outdoor { background-color: var(--pine-green); color: white; }
.event-tag-frame-religion { background-color: var(--light-yellow); }
.event-tag-frame-sports { background-color: var(--dark-water); color: white; }