.event-container {
  background-color: var(--light-petrol);
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.event-tag {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row-reverse; */
  justify-content: center;
  padding: 1rem;
}

.event-description {
  font-size: medium;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: left;
}

button.lets-go-button {
  background-color: var(--warm-green) !important;
  color: white;
  align-self: center;
}

.commute-container {
  max-width: fit-content;
  margin: 0 auto;
}

.event-map-container {
  margin-top: 1rem !important;
}

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .event-container {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .event-container {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}
