.home {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.home-title {
  margin-top: 2rem !important;
  margin-bottom: 1rem !important;
  margin-left: 1rem !important;
  font-size: 32px !important;
  font-weight: bold !important;
  color: var(--dark-black-vintage) !important;
}

.event-card-container {
  background-color: var(--light-petrol);
  min-height: 100vh;
  display: flex;
  padding-right: 3rem;
  padding-left: 3rem;
  padding-bottom: 2rem;
}

.search-event-container {
  padding: 0.5rem 1rem !important;
}

.event-pagination-container {
  display: flex !important;
  justify-content: center !important;
}

.event-loader {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100%;
}
