.navbar-appbar {
  background-color: #fff !important;
  position: sticky !important;
  top: 0 !important;
  z-index: 1000 !important;
}

.navbar-container {
  max-width: unset !important;
}

.navbar-link {
  color: var(--dark-black-vintage) !important;
  text-decoration: none !important;
  margin-right: 0.5rem !important;
  padding: 0.25rem 0.5rem !important;
  cursor: pointer !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-weight: 700 !important;
  text-align: center;
}

.navbar-link:hover {
  color: #9750fa !important;
}

.navbar-language-selected {
  background-color: #9750fa !important;
  color: #fff !important;
}

.navbar-logo {
  height: 60px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.navbar-title-container {
  margin-left: 10px !important;
}

.navbar-title {
  font-size: 1.75rem !important;
  font-weight: 700 !important;
  color: var(--dark-black-vintage) !important;
}

.navbar-app-name {
  color: var(--black) !important;
  display: flex !important;
  align-items: center !important;
}
