.event-card-frame {
  width: 20rem !important;
  height: 13rem !important;
  background-color: var(--white) !important;
  border-radius: var(--border-radius-15) !important;
  padding: 1rem 2rem !important;
  display: flex !important;
  justify-content: space-between !important;
  flex-direction: column !important;
}

.event-name {
  max-height: calc(2 * 2.5rem) !important;
  overflow: hidden !important;
  font-size: 2rem !important;
}

.time-to {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
}

.event-card-tags {
  display: flex !important;
  flex-direction: column !important;
  gap: 0.6rem !important;
}

.travel-time {
  display: flex !important;
  flex-direction: row !important;
}

.bus-icon {
  margin-left: 0.6rem !important;
  color: var(--dark-gray) !important;
}
