.navbar-container {
  background-color: #fff !important;
  position: sticky !important;
  top: 0 !important;
  z-index: 1000 !important;
}

.navbar-link {
  color: #4e008e !important;
  text-decoration: none !important;
  margin-right: 0.5rem !important;
  font-size: 1rem !important;
  padding: 0.25rem 0.5rem !important;
  font-weight: 700 !important;
  cursor: pointer !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.navbar-link:hover {
  color: #9750fa !important;
}

.navbar-language-selected {
  background-color: #9750fa !important;
  color: #fff !important;
}
